.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.email_c{
  color: red;
}
.navbar-brand{
  font-family: Impact, Charcoal, sans-serif;
}
.caption{
   font-family: "Comic Sans MS", cursive, sans-serif;
   background-color: lightblue;
}
.row {
	text-align: center;
} 

h3{
	font-family: Impact, Charcoal, sans-serif;
}
.lead{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
	font-family: Impact, Charcoal, sans-serif;
}
p{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.sname{
  font-size: 20px;
  background: #4C79A3;
}
.twidth{
  width: 400px;
}

.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
