<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Our Contacts</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://pybursa.com/">PyBursa</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="index.html">Main</a></li>
		        <li class="active"><a href="contact.html">Contacts<span class="sr-only"></span></a></li>
            <li><a href="student_list.html">Students</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
           
            <img src="../static/images/Obod.jpg" alt="..." class="img-circle">
            <div>
              <h3>Founder</h3>
              <p>Name: Павел Обод</p>
              <p>Skype: azaless</p>
              <p class="email_c">Email: <a href="mailto:#">itbursa100@gmail.com</a></p>
              <p>Phone: +38 097 000 00 00</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">

            <img src="../static/images/darka.jpg" alt="..." class="img-circle">
            <div>
              <h3>Manager</h3>
              <p> Name: Дария Михалевич</p>
              <p> Skype: darka.darka.darka.darka.</p>
              <p class="email_c"> Email: <a href="mailto:#">daria.mykhalevych@gmail.com</a></p>
              <p> Phone: +38 096 469 15 57</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">

            <img src="../static/images/Alex.jpg" alt="..." class="img-circle">
            <div>
              <h3>Director</h3>
              <p>Name: Алексей Радченко</p>
              <p>Skype: dixon-che</p>
              <p class="email_c">Email: <a href="mailto:#">dixon-che@gmail.com</a></p>
              <p>Phone: +38 097 000 00 00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://university.raccoongang.com" class="btn btn-primary btn-lg" role="button">Open EDX</a>
  </div>
  </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
