<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Srudents detail</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav">
          <a href="index.html">Main </a>
          <a href="contact.html">Contacts</a>  
          <a href="student_list.html">Students</a>
        </div>
        
        
      </div><!-- /.navbar-collapse -->
    </nav>

    <h2>Ivanov Ivan</h2>
    <br />

    <p>Student's card</p>
    <table  bgcolor="black" border="2">
      <tr class="h1"><td>Surname</td> <td>Inanov</td></tr>
      <tr class="h2"><td>Name</td> <td>Ivan</td></tr>
      <tr class="h3"><td>Patronymic</td> <td>Ivanovich</td></tr>
      <tr class="h4"><td>Rating</td> <td>7</td></tr>
      <tr class="h5"><td>Average grade</td> <td>24</td></tr>
      <tr class="h6"><td>Package</td> <td>Gold</td></tr>
      <tr  class="small"><td>Birth Date</td> <td>12/12/1976</td></tr>
      <tr class="mark"><td>Address</td> <td>Ukraine, Donetsk, Artjoma st., 12/222</td></tr>
      <tr class="text-muted"><td>E-mail</td> <td>ivan@mail.ru</td></tr>
      <tr class="text-primary"><td>Skype</td> <td>ibanov.ivan</td></tr>
      
    </table>
    <br />

    <p>Perfomance</p>
    <table >
      <tr bgcolor="blue"><th>Courde</th> <th>Week</th> <th>Control Type</th> <th>Grade</th><th>Average Grade</th></tr>
      <tr><td>PyBursa</td> <td>Week1</td> <td>Tests</td> <td>99%</td><td>99%</td></tr>
      <tr><td></td> <td></td> <td>Problem Task № 1</td> <td>100%</td><td>99%</td></tr>
      <tr><td></td> <td></td> <td>Problem Task № 2</td> <td>100%</td><td>99%</td></tr>
      <tr><td></td> <td>Week2</td> <td>Tests</td> <td>99%</td><td>99%</td></tr>
      <tr><td></td> <td>Week1</td> <td>Problem Task № 1</td> <td>99%</td><td>99%</td></tr>

    </table>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>