<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student list</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav">
          <a href="index.html">Main </a>
          <a href="contact.html">Contacts</a>  
          <a href="student_list.html">Students</a>
        </div>
        
        
      </div><!-- /.navbar-collapse -->
    </nav>

    <h2>Студенты курса PyBursa</h2>
    <p>Bla- bla- bla</p>
    <div class="container">
      <table class="table">
        <tr>
          <th class="h1">No</th>
          <th class="h2">Surname</th>
          <th class="h3">Name</th>
          <th class="h4">Address</th>
          <th class="h5">Skype</th>
        </tr>

        <tr>
          <td class="h6"><a href="student_detail.html">1</a></td>
          <td>Ivanov</td>
          <td>Ivan</td>
          <td>Ukraine, Donetsk, Artjoma st., 12/222</td>
          <td>ibanov.ivan</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Petrov</td>
          <td>Petr</td>
          <td>Ukraine, Dnepropertovsk, K. Marksa st., 33/2</td>
          <td>petrov.petr</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Vasiljev</td>
          <td>Vasilij</td>
          <td>Ukraine, Zaporozhje, Hmelnitskogo st., 1/2</td>
          <td>vasiljev.vasja</td>
        </tr>

        <tr>
          <td>4</td>
          <td>Sidorov</td>
          <td>Jevgenij</td>
          <td>Ukraine, Gomel, Lenina st., 2/25</td>
          <td>sidorov.zhenja</td>
        </tr>

        <tr>
          <td>5</td>
          <td>Smirnov</td>
          <td>Sergej</td>
          <td>Ukriaine, Lvov, Stepana Banderi st., 11/7</td>
          <td>smirnov.sergej</td>
        </tr>

      </table>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>